@model IEnumerable<Family.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Booher Family News</h2>

<p>
    @Html.ActionLink("Create New", "Create","", new { @class = "waves-effect waves-light btn" })
</p>


@foreach (var item in Model)
{
    <div class="card blue darken-2">
        <div class="card-content white-text">
            <span class="card-title">@Html.DisplayFor(modelItem => item.Title)</span>
            <p>By @Html.DisplayFor(modelItem => item.Author.FullName) at @Html.DisplayFor(modelItem => item.PostTime)</p><br />
            <p>@Html.DisplayFor(modelItem => item.Content)</p><br />
        </div>
        <div class="card-action">
            @Html.ActionLink("See Full Post", "Details", new { id = item.PostId }, new { @class = "btn white blue-text waves-effect waves-blue waves-ripple" })
            @Html.ActionLink("Edit", "Edit", new { id = item.PostId }, new { @class = "btn white blue-text waves-effect waves-blue waves-ripple" })
            @Html.ActionLink("Delete", "Delete", new { id = item.PostId }, new { @class = "btn white blue-text waves-effect waves-blue waves-ripple" })
        </div>
    </div>
}
