@model IEnumerable<Family.Models.Post>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Booher Family News</h2>


<div class="row">
    <a class="waves-effect waves-light btn right" href="@Url.Action("AddPost", "Post")"><i class="material-icons left">add</i>Add New Post</a>
</div>


@foreach (var item in Model)
{
    <div class="card hoverable blue darken-2">
        <div class="card-content white-text">
            <span class="card-title">@Html.DisplayFor(modelItem => item.Title)</span>
            <p>By @Html.DisplayFor(modelItem => item.Author.FirstName) at @Html.DisplayFor(modelItem => item.PostTime)</p><br />
            <p class="truncate">@Html.DisplayFor(modelItem => item.Content)</p><br />
        </div>
        <div class="card-action">
            @Html.ActionLink("See Full Post", "Details", new { id = item.PostId }, new { @class = "btn white black-text waves-effect waves-blue waves-ripple" })
            @if (item.AuthorID == User.Identity.GetUserId())
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.PostId }, new { @class = "btn white black-text waves-effect waves-blue waves-ripple" })
                @Html.ActionLink("Delete", "Delete", new { id = item.PostId }, new { @class = "btn white black-text waves-effect waves-blue waves-ripple" })
            }
        </div>
    </div>
}
